*{
	margin: 0;
	padding: 0;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}
header ul{
	display: flex;
	list-style-type: none;
}
header ul li{
	margin-left: 2rem;
}


#banner{
	width: 100%;
	height: 30rem;
	background: url(VRBO_DESERT_BRAND_vrbo_hero.jpeg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#banner h1{
	color: white;
}
#banner #search{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	border: 1px solid grey;
	background: white;
	border-radius: 15px;
	padding: 10px;
}
#banner #search .search-param {
	margin: 0 5px;
	flex-grow: 1;
	height: 2rem;
	border: 1px solid black;
	border-radius: 5px;
	background: white;
}
#banner #search .search-button{
	flex-grow: 0.3;
	height: 2rem;
	border-radius: 15px;
	background: #191e3b;
	color: white;
}
.gallery{
	padding-top: 3rem;
	padding-left: 1rem;
}
.rotary{
	display: flex;
	overflow: scroll;
	padding-bottom: 2rem;
}
.rotary-card1{
	width: 15rem;
	height: 8rem;
	border: 1px solid #ddd;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}
.rotary-card1 h3{
	display: block;
	text-align: center;
}
.rotary-card1 img{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.rotary-card2{
	width: 15rem;
	height: 8rem;
	border: 1px solid #ddd;
	border-radius: 15px;
	margin-left: 10px;
}
.rotary-card2 h3{
	height: 0;
}
.rotary-card2 img{
	width: 100%;
	height: 100%;
	border-radius: 15px;
}